.monHeader{
    box-shadow: 0px 2px 2px lightgrey;
}
.monIdent,
.monIdent a{
    color:#00CED1;
    margin: 0.5em;
    height: auto;
}

h1{
    padding: 1.5em 0 2em 0;
    margin: 0;
    font-family: 'Walter Turncoat', cursive;
    text-transform: uppercase;
    font-size: 4em;
    color: #00CED1;
}
.maNav{
    padding: 0;
    margin: 0;
    border-radius: 0px;
}
.inputRecherche{
    max-width: 80%;
    display: flex;
    align-items: center;
    padding: 0.5em 0.5em;
}
.monFooter{
    background-color: black;
    padding: 1em 0;
    color: grey;
}
.monFooter p{
    margin: 0;
}
/*--------------------------------------------------------*/

/*-----------------------------------------HOME*/


.auTop img{
    width: 100%;
    height: auto;
    padding: 1em;
}
.descripTop{
    padding: 1em;
}
.topArt{
    display: flex;
}
.monMain h2{
    margin: 4rem 0 3rem 0;
}
.monMain p{
    margin: 0;
}
.monMain #carousel-example-generic{
    margin: 3rem 0 4rem 0;
}

/*-----------------------------------------CATALOGUE*/

.monMain{
    padding: 0.5em;
    min-height:58vh;
}
.monCat{
    padding: 0;
}
.monArticle{
    box-shadow: 0px 0px 2px grey;
    padding-right: 0px;
    padding-left: 0px;
    padding: 1em;
    margin: 1em 0;
}

#moncata .monArticle img{
    width: 100%;
    height: auto;
}
.monArticle h4{
    margin: 1.5em 0 1em 0;
}
.monArticle a{
    margin:1em 0 0.5em 0;
    display: block;
}
.lePrix{
    font-weight: bold;
    font-size: 1.5em;
}











/*-----------------------------------------PANIER*/

.monPanier input{
    width: 4em;
    text-align: right;

}



















































/*-----------------------------------------CONTACT*/
.monMain h3 {
    color: #00CED1;
}
.monMain textarea {
    box-sizing: border-box;
    width: 100%;
}
.monMain button {

    margin: 0 auto;
}
/*------------------------------------------PRODUIT*/
.monMain .monProduit {
    padding: 2em 0;
}
