
.monHeader{
    box-shadow: 0px 2px 2px lightgrey;
    /*background-image: url(../img/turquoise-2083986.jpg);
    background-position:50% 100%;
    background-size: cover;*/
    background-color: #018FD7;

}
.monIdent,
.monIdent a{
    color:#ffffff;
    margin: 0.5em;
    height: auto;
}

h1{
    padding: 4rem 0 7rem 2rem;
    margin: 0;
    /*font-family: 'Walter Turncoat', cursive;*/
    text-transform: uppercase;
    font-size: 6em;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}

h6{
    padding: 0 0 8rem 2rem ;
    margin: 0;
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.maNav{
    padding: 0;
    margin: 0;
    border-radius: 0px;
    font-family: 'Oswald', sans-serif;

}
.inputRecherche{
    max-width: 80%;
    display: flex;
    align-items: center;
    padding: 0.5em 0.5em;
}

.monFooter{
    background-color: black;
    padding: 1em 0;
    color: grey;
}
.monFooter p{
    margin: 0;
}
.navbar-default {
    background-color: #0466a3;
    border-style: none;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #32bdda;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: white;
    background-color: #32bdda;
}

.btn-default {

    color: #32bdda;
    background-color: #e6e6e6;
    border-color: #adadad;

}
/*--------------------------------------------------------*/

/*-----------------------------------------HOME*/

.auTop{
    /*background-color: white;*/
    background-color: #ffffff;
}

.auTop img{
    width: 100%;
    height: auto;
    padding: 1em;
}
.carousel-control.right,.carousel-control.left{
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 100%,rgba(0,0,0,.5) 0%);
}
.carousel-control .glyphicon-chevron-right{
    right: 10%;
}
.carousel-control .glyphicon-chevron-left{
    left: 10%;
}

.descripTop{
    padding: 1em;
    color: #0466a3;
}
.topArt{
    display: flex;
}
.monMain h2{
    margin: 4rem 0 3rem 0;
    font-family: 'Oswald', sans-serif;
}
.monMain p{
    margin: 0;
}
.monMain #carousel-example-generic{
    margin: 3rem 0 4rem 0;
}

/*-----------------------------------------CATALOGUE*/

.monMain{
    padding: 0.5em;
    min-height:58vh;
    background-color: #32bdda;
    color: white;

}
.monCat{
    padding: 0;
}
.monArticle{
    box-shadow: 0px 0px 2px grey;
    background-color: white;
    color: #0466a3;
    padding-right: 0px;
    padding-left: 0px;
    padding: 1em;
    margin: 1em 0;
}

#moncata .monArticle img{
    width: 100%;
    height: auto;
}
.monArticle h4{
    margin: 1.5em 0 1em 0;
    background-color: #ffffff;
}
.monArticle a{
    margin:1em 0 0.5em 0;
    display: block;
}
.lePrix{
    font-weight: bold;
    font-size: 1.5em;
}











/*-----------------------------------------PANIER*/

.monPanier input{
    width: 4em;
    text-align: right;
    color:#0466a3;
}
button{
    color:#0466a3;
}
.maQuantite,
div.col-md-8:nth-child(4) > form:nth-child(1) > button:nth-child(1){
    color: #0466a3;
}
.monPanier tr:hover{
    background-color:#0466a3;
}
.prixTotal tr:hover{
        background-color:#0466a3;
}


















































/*-----------------------------------------CONTACT*/
.monMain h3 {
    color: #ffffff;
}
.monMain textarea {
    box-sizing: border-box;
    width: 100%;
}
.monMain button {

    margin: 0 auto;
}
/*------------------------------------------PRODUIT*/
.monMain .monProduit {
    padding: 2em 0;
}
